@use '../utils/variables' as var;
@use './global';

.address {
  @include var.flexBox($direction: column, $justify: null, $align: null, $wrap: null, $gap: 9px);
  @include var.fontStyle($size: 14px, $height: 1.5, $spacing: 0.03em, $weight: 400, $style: normal);
  margin-top: 20px;

  &__text {
    color: var.getColor('text-footer-primary');
    white-space: nowrap;
  }

  &__link {
    @extend .link;
    color: var.getColor('text-footer-secondary');
  }
}
