@use '../utils/variables' as var;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var.$main-font-family;
  font-style: normal;
  color: var.getColor('text-primary');
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:focus {
  outline: none;
}

.link {
  text-decoration: none;
  @include var.transitionStyle(color);

  &:hover,
  &:focus {
    color: var.getColor('text-link-hover');
  }
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
