@use '../utils/variables' as var;

.newsletter-form {
  @include var.flexBox($direction: row, $justify: null, $align: null, $wrap: wrap, $gap: null);
  flex-grow: 1;

  &__heading {
    flex-basis: 100%;
    @include var.fontStyle(
      $size: 14px,
      $height: 1.143,
      $spacing: 0.03em,
      $weight: 700,
      $style: null
    );
    text-transform: uppercase;
    color: var.getColor('text-footer-primary');
    margin-bottom: 20px;
  }

  &__input {
    flex-grow: 1;
    @include var.fontStyle(
      $size: 16px,
      $height: 1.25,
      $spacing: 0.03em,
      $weight: 400,
      $style: null
    );
    color: var.getColor('text-footer-primary');
    padding: 14px 15px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    @include var.transitionStyle(border);

    &:focus {
      border: 1px solid var.getColor('brand');
    }
  }
}

@media (max-width: 1199px) {
  .newsletter-form {
    @include var.flexBox(
      $direction: column,
      $justify: null,
      $align: center,
      $wrap: null,
      $gap: null
    );
    width: 100%;

    &__input {
      width: 100%;
      max-width: 450px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .newsletter-form {
    &__input {
      margin-right: 12px;
    }
  }
}
