@use '../utils/variables' as var;

.project {
  background-color: var.getColor('background-card');
  @include var.transitionStyle(box-shadow);

  &__overlay-container {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    @include var.flexBox($direction: row, $justify: null, $align: null, $wrap: null, $gap: null);
    padding: 49px 45px 49px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var.getColor('background-overlay');
    @include var.fontStyle(
      $size: 18px,
      $height: 1.556,
      $spacing: 0.03em,
      $weight: 400,
      $style: null
    );
    color: var.getColor('text-overlay');
    transform: translateY(100%);
    @include var.transitionStyle(transform);
  }

  &__image {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  &__text-container {
    padding: 20px 24px;
    border: 1px solid var.getColor('border-projects');
  }

  &__heading {
    @include var.fontStyle($size: 18px, $height: 2, $spacing: 0.06em, $weight: 700, $style: null);
    color: var.getColor('text-primary');
    margin-bottom: 4px;
  }

  &__text {
    @include var.fontStyle(
      $size: 16px,
      $height: 1.875,
      $spacing: 0.03em,
      $weight: 400,
      $style: null
    );
    color: var.getColor('text-secondary');
  }
}

.project:hover,
.link:focus .project {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:hover .project__overlay,
.link:focus .project .project__overlay {
  transform: translateY(0);
}
